{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <form action="" method="post" class="col s12">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col s12 m10 l8 offset-m1 offset-l2">
                    <h4>Change Password</h4>
                    <div class="input-field col s12">
                        {{ form.password.label }}
                        {{ form.password(class='validate') }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <span class="helper-text red-text" data-error="wrong">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.repeat_password.label }}
                        {{ form.repeat_password(class='validate') }}
                        {% if form.repeat_password.errors %}
                            {% for error in form.repeat_password.errors %}
                                <span class="helper-text red-text" data-error="wrong">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row center">
                        {{ form.submit(class='btn btn-large indigo accent-3') }}
                        <a href="{{ url_for('users.account') }}" class="btn btn-large red darken-4">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}