{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h4>Change Password</h4>
        <form action="" method="post" class="col s12">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.password.label }}
                    {{ form.password(class='validate') }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <span class="helper-text red-text" data-error="wrong">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="input-field col s12">
                    {{ form.repeat_password.label }}
                    {{ form.repeat_password(class='validate') }}
                    {% if form.repeat_password.errors %}
                        {% for error in form.repeat_password.errors %}
                            <span class="helper-text red-text" data-error="wrong">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row center">
                    {{ form.submit(class='btn btn-large indigo accent-3') }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}